@page
@model WebApp.Pages.UsersModel
@{
}

<script src="~/js/pages/UserViewController.js"></script>

<h1>Usuarios del sistema</h1>
<div class="bs-docs-section">
    <div class="row">
        <legend>Listado</legend>
        <div class="col-lg-12">
            <table id="tblUsers" class="display" style="width:100%">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha nacimiento</th>
                    <th>Estado</th>
                    <th>Fecha creacion</th>
                </tr>
            </table>
        </div>
    </div>
</div>